# Built-in Functions in Python

### `round()`

The `round()` function returns a floating-point number rounded to the specified number of decimals

**syntax**: `round(number, number_of_decimals)`

In [1]:
x = 13.55
round(x)

14

In [2]:
a = 3.8898
round(a, 3)

3.89

### `set()`

The `set()` function is used to create a set in Python. 

**syntax**: `set(iterable)`

In [3]:
number = [1,2,3,4,5]
set(number)

{1, 2, 3, 4, 5}

In [4]:
duplicate_numbers = [1,2,3,4,2,9,1]
set(duplicate_numbers)

{1, 2, 3, 4, 9}

### `slice()`

The `slice()` function returns a slice object that is used to slice any sequence (string, tuple, list, etc..)

**syntax**: `slice(start, stop, step)`

In [5]:
numbers = [1,2,3,4,5,6,7,8,9]
slice_numbers = slice(2) # it is equalant to 0:2
numbers[slice_numbers]

[1, 2]

In [9]:
s = 'function returns a slice object that is used to slice any sequence'
slice_text = slice(5, 20) # starting from 5th character to 20th character
s[slice_text]

'ion returns a s'

In [8]:
s = 'function returns a slice object that is used to slice any sequence'
slice_text = slice(5, 20, 3) # starting from 5th character to 20th character, every 3rd char
s[slice_text]

'i tna'

### `sorted()`

The `sorted()` function is used to sort the iterables like list, tuples and strings. 

**syntax**: `sorted(iterable, Key=None, reverse=False)`

In [10]:
numbers = [11, 14, 21, 12, 8, 2]
sorted(numbers)

[2, 8, 11, 12, 14, 21]

sort the numbers in descending order

In [11]:
numbers = [11, 14, 21, 12, 8, 2]
sorted(numbers, reverse=True)

[21, 14, 12, 11, 8, 2]

**sort the words based on the length of the word**

In [12]:
words = ['apple', 'ball', 'cat', 'dog', 'fish', 'chocolate', 'mobile']

sorted(words, key=len)

['cat', 'dog', 'ball', 'fish', 'apple', 'mobile', 'chocolate']

More examples on sorted in the future threads ðŸ§µ